<p id="notice"><%= notice %></p>

<p>
	<b> Ad ID: </b>
	<%= @ad.id %>

<p>
  <b>Title:</b>
  <%= @ad.title %>
</p>

<p>
  <b>Owner:</b>
	<%= @ad.user.name %>
</p>


<p>
  <b>Link:</b>
  <%= @ad.link %>
</p>


<p>
  <b>Desc:</b>
  <%= @ad.desc %>
</p>


<p>
  <b>Goal:</b> <%= @ad.goal %> <br />
  <b> Amount Raised:</b> <%= @total %> 
</p>

<br/>

<p>
	<b> Contributions: </b>
	<ul>
	<% @contributions.each do |a| %>   
		<li><%=a.user.name%>: <%=a.amount %></li>
	<% end %>
	</ul>
</p>

<h3> Contribute </h3>
<%= render :partial => '/contributions/form', :locals=> {:contribution => Contribution.new} %>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
